Babel
aiogram
aiohttp	
async-timeout
attrs
beautifulsoup
bs4
certifi	
chardet	

idna	
multidict
numpy
pandas	
pdfkit	

python-dateutil	
python-telegram-bot-pagination	
pytz
requests
setuptools
six
soupsieve	
urllib3
yarl	
